figure {
  min-width: 225px;
  min-height: 150px;
  max-width: 450px;
  max-height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border:0.2rem peru inset;
}

figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 225px;
  min-height: 150px;
  max-width: 450px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin-top: auto;
  box-sizing: border-box;
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}